{% extends "base.html" %} 
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="../../static/css/allauth/styles.css">
{% endblock %}
{% block alluth_content %}
  <div class="container-fluid my-5 py-1">
      <div class="row justify-content-md-center pt-5">
        <div class="col-md-auto">
          <div class="card">
            <div class="card-body">
              <title>{% block head_title %}{% endblock %}</title>
              {% block extra_head %} {% endblock %} 
              {% include 'account/includes/navbar.html' %}
              {% block body %}
              {% block content %} {% endblock %} {% endblock %} {% block extra_body %} {% endblock %} {% endblock %}            
            </div>
          </div>
        </div>
      </div>
  </div>
