/* https://www.w3schools.com/howto/howto_css_parallax.asp */
body,
html {
  height: 100%;
  margin: 0;
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../../../../media/images/pictures/Baron 560/1800x900/1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../../../../media/images/pictures/Magnum 582/1800x900/1.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../../../../media/images/pictures/P2 Relax/1800x900/1.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("../../../../media/images/pictures/R640/1800x900/1.jpg");
  min-height: 400px;
}
.bgimg-5 {
  background-image: url("../../../../media/images/pictures/Roadcamp/1800x900/1.jpg");
  min-height: 400px;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.nec{
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4 {
    background-attachment: scroll;
  }
  .home-login {
    min-width: 100%;
    color: #ddd;
    background-color: #282e34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    position: absolute;
    top: 50%;
  }
  .contact-form {
    min-width: 100% !important;
  }
}

@media only screen and (min-device-width: 1024px) {
  .home-login {
    left: 60%;
    right: 10%;
    color: #ddd;
    background-color: #282e34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    position: absolute;
    top: 50%;
  }
  .contact-form {
    left: 15%;
    width: 70% !important;
    color: #ddd;
    background-color: #282e34;
    text-align: center;
    padding: 50px 80px;
    top: 20%;
  }
}
