{% extends 'base.html' %}{% load static %}  {% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/styles.css' %}" />
{% endblock %}{% block main_content %} {% include 'profiles/includes/navbar.html' %}
<div class="h-divider"></div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-3 order-md-1">
      <div class="card card-body profile-card text-center">
        <img
          class="profile-picture"
          src="/media/{{user.userprofile.profile_picture}}"
          alt="Profile Picture"
        />
        <h4 class="text-align-center">USERNAME: {{user.username}}</h4>
        {% if user.userprofile.phone %}
        <h4>PHONE NUMBER: {{user.userprofile.phone}}</h4>
        {% else %}
        <h4>No Phone number added yet</h4>
        {% endif %}
        <a href="{% url 'update_myprofile' %}" class="btn btn-warning"
          >Update Profile</a
        >
      </div>
    </div>
    <div class="col-md-9 order-md-12">
      <ul class="list-group">
        {% if billingaddress %}
        <li class="list-group-item">Full Name: {{billingaddress.full_name}}</li>
        <li class="list-group-item">Email Address: {{billingaddress.email}}</li>
        <li class="list-group-item">
          Phone Number: {{billingaddress.phone_number}}
        </li>
        <li class="list-group-item">
          Address Line 1: {{billingaddress.address_line1}}
        </li>
        <li class="list-group-item">
          Address Line 2: {{billingaddress.address_line2}}
        </li>
        <li class="list-group-item">Postcode: {{billingaddress.postcode}}</li>
        <li class="list-group-item">City: {{billingaddress.city}}</li>
        <li class="list-group-item">Country: {{billingaddress.country}}</li>
      </ul>
      <a class="btn btn-warning" href="#">Update Billing Address</a>
      <a class="btn btn-danger" href="#">Delete Billing Address</a>
      {% else %}
      <h3>You don't have any saved Billing Address yet.</h3>
      <a class="btn btn-success" href="#">Add it now</a>

      <ul class="list-group">
        <li class="list-group-item">Full Name: Not yet Added</li>
        <li class="list-group-item">Email Address: Not yet Added</li>
        <li class="list-group-item">Phone Number: Not yet Added</li>
        <li class="list-group-item">Address Line 1: Not yet Added</li>
        <li class="list-group-item">Address Line 2: Not yet Added</li>
        <li class="list-group-item">Postcode: Not yet Added</li>
        <li class="list-group-item">City: Not yet Added</li>
        <li class="list-group-item">Country: Not yet Added</li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
