{% extends 'base.html' %}{% load static %}  {% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/styles.css' %}" />
{% endblock %}{% block subtitle %}My Profile{% endblock %}{% block navbar %}{% include 'includes/navbar.html' %}{% endblock %}
{% block main_content%} 
<div class="my-3 py-3"></div>
<p class="display-4 text-uppercase text-center pt-3">my profile</p>

<div class="mt-3 pt3"></div>
<div class="album py-5 bg-dark">
  <div class="checkout-success-form">
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-3 order-md-1 mb-2 pb-2">
          <div class="card card-body profile-card text-center text-dark">
            <img
              class="profile-picture"
              src="/media/{{user.userprofile.profile_picture}}"
              alt="Profile Picture"
            />
            <h4 class="text-align-center">USERNAME: {{user.username}}</h4>
            {% if user.userprofile.phone %}
            <h4>PHONE NUMBER: {{user.userprofile.phone}}</h4>
            {% else %}
            <h4>No Phone number added yet</h4>
            {% endif %}
            <a href="{% url 'update_myprofile' %}" class="btn btn-secondary"
              >Update Profile</a
            >
          </div>
        </div>
        <div class="col-md-9 order-md-12 text-dark">
          <ul class="list-group">
            {% if billingaddress %}
            <li class="list-group-item py-1 my-1 rounded">Full Name: {{billingaddress.full_name}}</li>
            <li class="list-group-item py-1 my-1 rounded">Email Address: {{billingaddress.email}}</li>
            <li class="list-group-item py-1 my-1 rounded">
              Phone Number: {{billingaddress.phone_number}}
            </li>
            <li class="list-group-item py-1 my-1 rounded">
              Address Line 1: {{billingaddress.address_line1}}
            </li>
            <li class="list-group-item py-1 my-1 rounded">
              Address Line 2: {{billingaddress.address_line2}}
            </li>
            <li class="list-group-item py-1 my-1 rounded">Postcode: {{billingaddress.postcode}}</li>
            <li class="list-group-item py-1 my-1 rounded">City: {{billingaddress.city}}</li>
            <li class="list-group-item py-1 my-1 rounded">Country: {{billingaddress.country}}</li>
          </ul>
          <a class="btn btn-secondary my-3 py-0 mx-3 px-3 text-center" href="{% url 'update_billing_address' %}">Update Billing Address</a>
          <a class="btn btn-danger  my-3 py-0  mx-3 px-3 text-center" href="{% url 'confirm_delete_billing_address' %}">Delete Billing Address</a>
          {% else %}
          <a class="btn btn-success self-align-end" href="{% url 'create_billing_address' %}">Add Billing Address</a>
    
          <ul class="list-group">
            <li class="list-group-item py-1 my-1 rounded">Full Name: Not yet Added</li>
            <li class="list-group-item py-1 my-1 rounded">Email Address: Not yet Added</li>
            <li class="list-group-item py-1 my-1 rounded">Phone Number: Not yet Added</li>
            <li class="list-group-item py-1 my-1 rounded">Address Line 1: Not yet Added</li>
            <li class="list-group-item py-1 my-1 rounded">Address Line 2: Not yet Added</li>
            <li class="list-group-item py-1 my-1 rounded">Postcode: Not yet Added</li>
            <li class="list-group-item py-1 my-1 rounded">City: Not yet Added</li>
            <li class="list-group-item py-1 my-1 rounded">Country: Not yet Added</li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
