<div class="mt-3 pt3"></div>
<div class="album py-5 bg-dark mb-3  mx-0 px-0">
  <div class="card filter-form">
    {% if messages %}
    <!--styled django message-->
    <div id="django-messages-form-results" class="my-2 py2 text-center text-uppercase">
        <ul class="messages list-group">
            {% for message in messages %}
            <li{% if message.tags %} class="bg-{{ message.tags }} py-2 text-dark"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}  
    <form id="address" action="" method="GET" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="rounded px-3 py-2 text-uppercase inline">
        <div class="row">
          <div class="col-md-6">
            <span class="field-label py-2 my-2">Seats</span>
            <div class="py-2 mt-2" >{{motofilter.form.seats__gte}}</div>
          </div>
          <div class="col-md-6">
              <span class="field-label py-2 my-2">Berths</span>
              <div class="py-2 mt-2">{{motofilter.form.persons_to_sleep__gte}}</div>
          </div>
        </div>
      </fieldset>
      <fieldset class="rounded px-3 py-2 text-uppercase">
        <div class="row  text-center">
          <div class="col-md-4">
            <span class="field-label py-2 my-2">Category</span>
            <div class="py-2 my-2" id="category">{{motofilter.form.category}}</div>
          </div>
          <div class="col-md-3">
            <span class="field-label py-2 my-2">Group</span>
            <div class="py-2 my-2" id="good_for_groups">
              {{motofilter.form.good_for_groups}}
            </div>
          </div>
          <div class="col-md-5">
            <span class="field-label py-2 my-2">Rental fee/Day</span>
            <div
              class="py-2 mt-2"
            >{{motofilter.form.daily_rental_fee__lte}}</div>
          </div>
        </div>
        <hr class="bg-black">
      </fieldset>
        <div class="card-text">
          <div class="w-100 btn bg-secondary mt-4">
              <button type="submit" class="btn btn-secondary w-100" value="submit">Search</button>
          </div>
        </div>
    </form>
  </div>
</div>

  <!--To set the default date value in the filter form-->
  {% block postload_js %}
  <script>
    document.querySelector("#start_date").valueAsDate = new Date();
    document.querySelector("#end_date").valueAsDate = new Date();
  </script>
{% endblock %}

