{% extends 'base.html' %}{% block main_content %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/styles.css' %}" />
{% endblock %} {% block extra_js %}
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTxRYC0P7NAbBCPuXnCdQav79gAg1hO2Q&callback=initAutocomplete&libraries=places&v=weekly"
  defer
></script>
<script src="{% static 'checkout/js/googleapi.js' %}"></script> -->

{% endblock %} {% block subtitle %} Checkout{% endblock %} {% block navbar %}{% include 'includes/navbar.html' %}{% endblock %}
<div class="my-3 py-3"></div>
<p class="display-4 text-uppercase text-center pt-3">checkout</p>
<div class="container-fluid bg-light px-0 mx-0">
  <div class="album py-5 mx-0 px-0 bg-dark w-100">
      <div class="row px-0 mx-0">
        <div class="col-md-12 col-lg-3 px-0 mx-0 text-dark">

          <div id="motorhome-details" class="card card-body mx-3 px-3 text-dark text-uppercase border rounded h-100 bg-dark my-2 py-2">
            <div class="card-title my-2 py-2 text-center bg-light">
              <p class="py-2 my-2">
                Motorhome details
              </p>
            </div>
            <ul class="list-group">
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">Nickname: {{motorhome.nickname}}</li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">Model: {{motorhome.model}}</li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">Seats: {{motorhome.seats}}</li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">Berths: {{motorhome.persons_to_sleep}}</li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">Double beds: {{motorhome.number_of_double_beds}}</li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">Category: {{motorhome.category}}</li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">Good for: {{motorhome.good_for_groups}}</li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">Daily Rental fee: {{motorhome.daily_rental_fee}} EUR</li>    
            </ul>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 px-0 mx-0 text-dark ">
          <div id="billing-details" class="card card-body mx-3 px-3 text-dark text-uppercase border rounded h-100 bg-dark my-2 py-2">
            <div class="card-title my-2 py-2 text-center bg-light">
              <p class="py-2 my-2">
                billing address

              </p>
            </div>
            {% if billingaddress %}
            <ul class="list-group">
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">
                Full Name: {{billingaddress.full_name}}
              </li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">
                Email Address: {{billingaddress.email}}
              </li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">
                Phone Number: {{billingaddress.phone_number}}
              </li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">
                Address Line 1: {{billingaddress.address_line1}}
              </li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">
                Address Line 2: {{billingaddress.address_line2}}
              </li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">
                Postcode: {{billingaddress.postcode}}
              </li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">
                City: {{billingaddress.city}}
              </li>
              <li class="list-group-item py-2 my-2 rounded text-uppercase rounded">
                Country: {{billingaddress.country}}
              </li>
            </ul>
            {% else %}
            <fieldset class="rounded px-3 py-2 text-uppercase">
              <div id="locationField" class="rounded">
                <input
                  class="form-control py-2 my-2 text-center"
                  id="autocomplete"
                  placeholder="Search for you address"
                  onFocus="geolocate()"
                  type="text"
                />
              </div>
            </fieldset>
            <form
              id="address"
              action=""
              method="POST"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <fieldset class="rounded px-3 py-2 text-uppercase">
                <legend class="fieldset-label">Contact Details:</legend>
                <input
                  type="text"
                  class="form-control py-2 my-2"
                  id="full_name"
                  name="full_name"
                  aria-describedby="textHelp"
                  placeholder="Full Name"
                  required
                />
                <input
                  type="email"
                  class="form-control py-2 my-2"
                  id="email"
                  name="email"
                  aria-describedby="textHelp"
                  placeholder="Email Address"
                  value="{{user.email}}"
                  required
                />
                <input
                  type="text"
                  class="form-control py-2 my-2"
                  id="phone_number"
                  name="phone_number"
                  aria-describedby="textHelp"
                  {% if user.userprofile.phone %}
                  value="{{user.userprofile.phone}}"
                  {% else %}
                  placeholder="{{user.userprofile.phone}}"
                  required
                  {% endif %}
                />
              </fieldset>
              <fieldset class="rounded px-3 py-2 text-uppercase">
                <legend class="fieldset-label">Street Address:</legend>
                <input
                  type="text"
                  class="form-control py-2 my-2"
                  id="street_number"
                  name="street_number"
                  aria-describedby="textHelp"
                  placeholder="Address Line 1"
                  required
                />
                <input
                  type="text"
                  class="form-control py-2 my-2"
                  id="route"
                  name="route"
                  aria-describedby="textHelp"
                  placeholder="Address Line 2"
                />
              </fieldset>
              <fieldset class="rounded px-3 py-2 text-uppercase">
                <legend class="fieldset-label">Location:</legend>
                <input
                  type="text"
                  class="form-control py-2 my-2"
                  id="postal_code"
                  name="postal_code"
                  aria-describedby="textHelp"
                  placeholder="Postcode/ZIP"
                  required
                />
                <input
                  type="text"
                  class="form-control py-2 my-2"
                  id="locality"
                  name="locality"
                  aria-describedby="textHelp"
                  placeholder="City"
                  required
                />
                <input
                  type="text"
                  class="form-control py-2 my-2"
                  id="country"
                  name="country"
                  aria-describedby="textHelp"
                  placeholder="Country"
                  required
                />
              </fieldset>
  
              <div class="card-footer">
                <div class="card-text">
                  <input
                    class="btn btn-success"
                    type="submit"
                    name="Add Billing Address"
                    value="Add Billing Address"
                  />
                </div>
              </div>
            </form>
            {% endif %}
          </div>
        </div>
        <div class="col-md-12 col-lg-5 px-0 mx-0">
          <div id="payment-details" class="card card-body mx-3 px-3 text-dark text-uppercase border rounded h-100 bg-dark my-2 py-2">
            <div class="card-title my-2 py-2 text-center bg-light">
              <p class="py-2 my-2">
                Card details
              </p>
            </div>
            <fieldset class="px-3 bg-light">
              <form id="payment-form">
                <div id="card-element" class="w-100 py-2 my-2 border rounded">
                  <!-- Elements will create input elements here -->
                </div>
              
                <!-- We'll put the error messages in this element -->
                <div id="card-errors" role="alert"></div>
              
                <button id="submit" class="btn btn-success w-100">Pay</button>
              </form>
            </fieldset>

          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block postload_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}