{% extends 'base.html' %}{% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'bookings/styles.css' %}" />
{% endblock %} {% include 'includes/navbar.html' %}{% block main_content %} 
<div class="my-3 py3"></div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Booked vehicle</th>
        <th scope="col">Booking On</th>
        <th scope="col">Booking From</th>
        <th scope="col">Booking To</th>
      </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
      <tr>
        <th scope="row">{{booking.id}}</th>
        <td>{{booking.booked_by}}</td>
        <td>{{booking.booked_vehicle}}</td>
        <td>{{booking.booked_on}}</td>
        <td>{{booking.booked_from}}</td>
        <td>{{booking.booked_until}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
