{% extends 'base.html' %}{% load crispy_forms_tags %} {% load static %} {% block extra_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'bookings/styles.css' %}"
/>

{% endblock %}{% block subtitle %}Book {{motorhome.nickname}}{% endblock %} {% block navbar %}{% include 'includes/navbar.html' %}{% endblock %}{% block main_content %}
<div class="mb-5 pb-5 pt-0 mt-0"></div>
<p class="display-4 text-uppercase text-center mt-2 pt-2">My Bookings</p>

<div class="album py-5 bg-dark">
  <a
    class="btn btn-secondary w-100 mt-0 mb-3 py-3 text-dark text-uppercase"
    href="{% url 'index'%}"
  >
    Go to the Home page
  </a>
  <div class="container booking-form">
    <div class="row">
      <div class="col-md-12 align-self-center py-3 my-3">
        <div class="row px-2 text-center text-light text-uppercase">
          <div class="col-3">Booking ID</div>
          <div class="col-9">Booking made on</div>
        </div>
        <div id="accordion">
          {% for booking in bookings %}
          <div class="card my-2"">
            {% if booking.status == "Paid and Confirmed" %}
            <button class="btn btn-success" data-toggle="collapse" data-target="#Id{{booking.id}}" aria-expanded="true" aria-controls="Id{{booking.id}}">
            {% else %}
            <button class="btn btn-secondary" data-toggle="collapse" data-target="#Id{{booking.id}}" aria-expanded="true" aria-controls="Id{{booking.id}}">
            {% endif %}
                  <div class="card-header" id="headerId{{booking.id}}">
                    <h5 class="mb-0">

                        <div class="row px-2 text-center text-dark text-uppercase">
                          <div class="col-3">#{{booking.id}}</div>
                          <div class="col-9">{{booking.booked_on}}</div>
                        </div>             
                </h5>
              </div>          
            </button>
            <div id="Id{{booking.id}}" class="collapse hide" aria-labelledby="headingId{{booking.id}}" data-parent="#accordion">
              <div class="card-body">
                <div class="row py-2 my-2 text-uppercase text-center text-dark">
                  {% if booking.status == "Paid and Confirmed" %}
                  <div class="col">
                    Vehicle: {{booking.booked_vehicle}}
                  </div>
                  {% else %}
                  <div class="col-md-6">
                    Vehicle: {{booking.booked_vehicle}}
                  </div>
                  <div class="col-md-6">
                    Rental fee/day: {{booking.booked_vehicle.daily_rental_fee}} eur
                  </div>
                  {% endif %}
                </div>
                <div class="row py-2 my-2 text-uppercase text-center text-dark">
                  <div class="col">
                    pick up date: {{booking.booked_from}}
                  </div>
                  <div class="col">
                    drop off date: {{booking.booked_until}}
                  </div>

                </div>

                {% if booking.status == "Paid and Confirmed" %}
                {% for bsummary in bsummaries %}
                {% if bsummary.booking == booking %}
                <div class="row py-2 my-2 text-uppercase text-center text-dark">
                  <div class="col bg-secondary py-2 my-2">
                    Payment confirmation number: {{bsummary.booking_reference}}
                  </div>
                </div>
                <div class="row py-2 my-2 text-uppercase text-center text-dark">
                  <div class="col-md-4">
                    Status: {{booking.status}}
                  </div>
                  <div class="col-md-4">
                    Paid on: {{bsummary.date_created}}
                  </div>
                  <div class="col-md-4">
                    Total: {{bsummary.booking_total}} EUR
                  </div>
                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <button class="btn btn-success w-100 text-uppercase text-dark text-center" data-toggle="collapse" data-target="#Id{{booking.id}}" aria-expanded="true" aria-controls="Id{{booking.id}}">
                  go to checkout
                </button>
                {% endif %}

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="card-text w-100">
    <a
      class="btn btn-secondary w-100 my-3 py-3 text-dark text-uppercase"
      href="{% url 'index'%}"
      >Go to the Home page</a
    >
  </div>
</div>
{% endblock %}
