html,
body {
  background-color: #fff;
  overflow-x: hidden;
}


* {
    font-family: 'Yusei Magic', sans-serif;
}

img.logo{
    height: 50px;
    width: auto;
    border-radius: 2px;
}

ul {
    list-style-type: none;
}


.bg-error{
    background-color: red !important;
    font-size: large;
}

