{% extends 'base.html' %}{% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'motorhomes/styles.css' %}" />
{% endblock %} {% block subtitle %}{{motorhome.nickname}} {% endblock %}{% block navbar %}{% include 'includes/navbar.html' %}{% endblock %}
{% block main_content %} 
<div class="my-2 py-3"></div>
<a class="w-100 btn btn-secondary mt-4" href="{% url 'motorhomes' %}" >Back to the Motorhome Listing</a>
<img
  class="cover-image img-fluid"
  src="{{MEDIA_URL}}{{motorhome.picture1}}"
  alt="cover-image"
/>

<div class="container-fluid bg-light mx-0 px-3">
  <div class="album py-5 bg-light">
    <div class="row h-100">
      <a class="w-100 btn btn-success btn-lg py-2 mb-3 text-uppercase" href="{% url 'book_this_motorhome' motorhome.id %}" >Book this Motorhome</a>

      <div class="col-md-6 my-auto mx-auto">
        <p class="details-text text-uppercase  py-0 my-0">Nickname: {{motorhome.nickname}}</p><br>
        <p class="details-text text-uppercase  py-0 my-0">Model: {{motorhome.model}}</p><br>
        <p class="details-text text-uppercase  py-0 my-0">Seats: {{motorhome.seats}}</p><br>
        <p class="details-text text-uppercase  py-0 my-0">Berths: {{motorhome.persons_to_sleep}}</p><br>
        <p class="details-text text-uppercase  py-0 my-0">Double beds: {{motorhome.number_of_double_beds}}</p><br>
        <p class="details-text text-uppercase  py-0 my-0">Category: {{motorhome.category}}</p><br>
        <p class="details-text text-uppercase  py-0 my-0">Good for: {{motorhome.good_for_groups}}</p><br>
        <p class="details-text text-uppercase  py-0 my-0">Daily Rental fee: {{motorhome.daily_rental_fee}} EUR</p><br>

      </div>
      <div class="col-md-6">
        <img
          class="content-image img-fluid"
          src="{{MEDIA_URL}}{{motorhome.picture2}}"
          alt="content-image"
        />
      </div>
    </div>
    <div class="row h-100">
      <div class="col-md-6 order-md-12">
        <img
          class="content-image img-fluid"
          src="{{MEDIA_URL}}{{motorhome.picture3}}"
          alt="content-image"
        />
      </div>
      <div class="col-md-6 order-md-1 my-auto mx-auto">
        <p class="details-text">
          {{motorhome.article2}}
        </p>
      </div>
    </div>
    <div class="row h-100 ">
      <div class="col-md-6  my-auto mx-auto">
        <p class="details-text">
          {{motorhome.article3}}
        </p>
      </div>
      <div class="col-md-6">
        <img
          class="content-image img-fluid"
          src="{{MEDIA_URL}}{{motorhome.picture4}}"
          alt="content-image"
        />
      </div>
    </div>
    <div class="row h-100">
      <div class="col-md-6">
        <img
          class="content-image img-fluid"
          src="{{MEDIA_URL}}{{motorhome.picture5}}"
          alt="content-image"
        />
      </div>
      <div class="col-md-6  my-auto mx-auto">
        <p class="details-text">
          {{motorhome.article4}}
        </p>
      </div>
    </div>
  </div>
</div>
<a class="w-100 btn btn-success btn-lg py-2 mb-3 text-uppercase" href="{% url 'book_this_motorhome' motorhome.id %}" >Book this Motorhome</a>

<a class="w-100 btn btn-secondary mt-4 pt-2 pb-2 mb-4" href="{% url 'motorhomes' %}" >Back to the Motorhome Listing</a>

{% endblock %}
