{% load static %}{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--% block tags  % to use Django templating system
      Extending the Base html to other pages.
    -->
    {% block meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% endblock %} {% block extra_meta %} {% endblock %} {% block css %}
    <!--Customer css for project-->
    <link rel="stylesheet" href="{% static 'css/project_mycaraone/styles.css' %}">
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap"
      rel="stylesheet"
    />
    {% endblock %} {% block extra_css %} {% endblock %} {% block js %}
    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <!--Font Awsome-->
    <script src="https://kit.fontawesome.com/b132e687e5.js"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %} {% block extra_js %} {% endblock %}
    <title>
      {% block title %}MyCaraOne {% endblock %}{% block subtitle %}{% endblock %}
    </title>
  </head>
  <body>
    <header>{% block navbar %}{% endblock %}</header>
    <!--If motorhome view related message, them it will not present here, only in the motorhome filter form-->
    {% if not motorhorhome_msg %}
    {% if messages %}
    <!--styled django message-->
    <div id="django-messages-top" class="mt-4 pt-4 mb-1 pb-1 text-center text-uppercase">
        <ul class="messages list-group my-0 py-0">
            {% for message in messages %}
            <li{% if message.tags %} class="bg-{{ message.tags }} pt-4 pb-2"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endif %}
    <!--main content for the Allauth templates, their base template using this too-->
    {% block alluth_content %}      {% endblock %}

    <!--main content for the project templates, their base template might using this too-->
    {% block main_content %}  

 
    {% endblock %} {% block extra_content %}{% endblock %} {% block postload_js %}
    <!-- JS to remove Django messages-->
    {% if messages %}
    <script>
        var message_top = document.getElementById("django-messages-top");

        setTimeout(function(){ 
          message_top.style.display = "none";
        }, 3000);
    </script>
    {% endif %}
    {% endblock %}
  </body>
</html>
