@media only screen and (max-device-width: 1024px) {
    .checkout-form {
      min-width: 100% !important;
      margin: 0 auto 0 auto;
    }
    #motorhome-details{
      min-width: 100%;
    }
    #billing-details{
      min-width: 100%;
    }
    #payment-details{
      min-width: 100%;
    }

  }
  
  @media only screen and (min-device-width: 1024px) {
    .checkout-form {
      width: 70%;
      color: #ddd;
      background-color: #282e34;
      text-align: center;
      padding: 50px 80px;
    }
    #django-messages-results-warning.li{
      font: black !important;
    }

  }
  
/* STRIPE CSS 
https://stripe.com/docs/stripe-js
*/

.StripeElement{
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
