body, html{
    height: 100%;
    overflow-x: hidden;
}
.motorhome-list-card:hover{
    transform: scale(1.005);
    transition: 0.2sec;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}

.cover-image{
    width: 100%;
    height: auto;
}
.content-image {
    width: 100%;
    height: auto;

}
h1.details-text{
    margin-left: auto;
    margin-right: auto;
    width: 70%
}
